CGIBIN_DIR="/usr/local/etc/httpd/cgi-bin"
BASE_DIR="/usr/local/etc/Counter"
CONFIG_FILE="count.cfg"
CONFIG_DIR="/usr/local/etc/Counter/conf"
DIGIT_DIR="/usr/local/etc/Counter/digits"
DATA_DIR="/usr/local/etc/Counter/data"
LOG_DIR="/usr/local/etc/Counter/logs"
LOG_FILE="Count2_5.log"
RGB_FILE="./data/rgb.txt"
RGB_DIR="/usr/local/etc/Counter"
